.page-container {
  background: rgba(193, 200, 209, 0.15);
}

.member-container {
  padding: 50px;
}

.member-group {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}
