.cb-application-process-header {
  max-width: 650px;
}

.cb-application-process-card-title {
  font-family: "Inter-SemiBold";
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 28px;
}

.cb-application-process-card-text {
  color: #ffffff;
}

.cb-application-process-card-date {
  color: rgba(255, 255, 255, 0.7);
}

.cb-application-process-card-link {
  color: #ffffff;
  text-decoration: underline;
}

.cb-application-process-link {
  color: #80868b;
  text-decoration: underline;
}

.cb-application-process-card-link:hover {
  color: #ffffff;
  text-decoration: underline;
  opacity: 0.8;
  transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
}

.cb-application-process-link:hover {
  color: #80868b;
  text-decoration: underline;
  opacity: 0.8;
  transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
}
