.cb-bb-title {
  margin-bottom: 54px;
}

.cb-bb-description {
  margin-bottom: 16px;
}

.cb-bb-textbox {
  padding-bottom: 2px;
}

.cb-bb-left-arrow,
.cb-bb-right-arrow {
  color: #80868b;
  cursor: pointer;
}

.cb-bb-left-arrow {
  margin-right: 35px;
}

.cb-bb-left-arrow:hover,
.cb-bb-right-arrow:hover,
.cb-bb-caption:hover div {
  color: #336ee2;
  opacity: 0.8;
  transition: opacity, color 0.2s ease-out;
  -moz-transition: opacity, color 0.2s ease-out;
  -webkit-transition: opacity, color 0.2s ease-out;
  -o-transition: opacity, color 0.2s ease-out;
}

.cb-bb-caption {
  min-width: 140px;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
}

.cb-bb-text,
.cb-bb-number {
  font-family: "Inter-Medium";
  font-size: 14px;
  color: #80868b;
  display: inline-block;
  vertical-align: top;
}

.cb-bb-text {
  width: 120px;
}

.cb-bb-number {
  margin-right: 10px;
}

.cb-bb-people {
  width: 120px;
}

.cb-bb-active-caption div {
  color: #336ee2;
}

.cb-bb-club-image {
  border-radius: 5px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.cb-bb-arrow-row {
  margin-bottom: 30px;
}

.cb-bb-caption-row {
  margin-bottom: 80px;
}

@media only screen and (max-width: 767px) {
  .cb-bb-carousel-row {
    margin-bottom: 20px;
  }

  .cb-bb-arrow-row {
    text-align: center;
  }

  .cb-bb-caption {
    text-align: center;
  }
}

.cb-bb-cross-fade-leave {
  opacity: 1;
}

.cb-bb-cross-fade-leave.cb-bb-cross-fade-leave-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.cb-bb-cross-fade-enter {
  opacity: 0;
}

.cb-bb-cross-fade-enter.cb-bb-cross-fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.cb-bb-cross-fade-height {
  transition: height 0.5s ease-in-out;
}
