.cb-beyond-section-header {
  max-width: 650px;
  margin-bottom: 40px;
}

.cb-beyond-logo {
  width: 100px;
  margin: 0px 32px 40px 8px;
  border: none;
}

.cb-beyond-logo-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cb-beyond-small {
  width: 80px;
}

.cb-beyond-big {
  width: 120px;
}

.cb-beyond-logo-image {
  display: block;
}
