.cb-club-structure-header {
  max-width: 650px;
}

.cb-club-structure-card-title {
  font-family: "Inter-SemiBold";
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 28px;
}

.cb-club-structure-card-text {
  color: #ffffff;
}
