.cb-current-projects-mentored-card {
  min-height: 200px;
}

.cb-current-projects-text {
  color: #ffffff;
}

.cb-current-projects-type {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .cb-current-projects-mentored-card {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
  .cb-current-projects-client-card {
    height: 225px;
  }
}

@media only screen and (min-width: 992px) {
  .cb-current-projects-client-card {
    height: 250px;
  }
}
