.cb-general-contact-heading {
  margin-bottom: 40px;
  text-align: center;
}

.cb-general-contact-icon {
  margin-bottom: 40px;
}

.cb-general-contact-card-title {
  font-family: "Inter-Medium";
  font-size: 17px;
  color: #2f2f30;
  margin-bottom: 20px;
}

.cb-general-contact-card-text {
  font-family: "Inter-Medium";
  font-size: 14px;
  color: #80868b;
}

.cb-general-contact-button {
  font-family: "Inter-Medium";
  font-size: 14px;
  border-radius: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 14px;
  margin-left: 0px;
  margin-bottom: 14px;
  background-color: #336ee2;
  border-color: #336ee2;
  color: #ffffff;
}

.cb-general-contact-button:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
}

.cb-general-contact-button-container {
  margin-top: 40px;
  text-align: center;
}
