.cb-home-projects-container {
  width: 100%;
  background-color: #f6f7f8;
}

.cb-home-projects {
  font-family: "Inter-Medium";
  font-size: 13px;
  padding-top: 40px;
  padding-bottom: 60px;
}

.cb-home-projects-title {
  color: rgba(47, 47, 48, 0.6);
  font-size: 13px;
  line-height: 18px;
  margin-top: 5%;
  margin-bottom: 0;
}
