.cb-home-involved-container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.cb-home-involved-title {
  font-family: "Inter-SemiBold";
  font-size: 20px;
  color: #2f2f30;
  margin-bottom: 10px;
}

.cb-home-involved-description {
  font-family: "Inter-Medium";
  font-size: 13px;
  color: #80868b;
}

.cb-home-involved-heading {
  font-family: "Inter-SemiBold";
  font-size: 14px;
  color: #336ee2;
  margin-bottom: 18px;
}

.cb-home-involved-button {
  font-size: 13px;
  border-radius: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 14px;
  margin-left: 0px;
  margin-bottom: 14px;
  font-family: "Inter-Medium";
}

.cb-home-involved-button:hover,
.cb-home-involved-link:hover {
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
}

.cb-home-involved-button-dark {
  background-color: #336ee2;
  border-color: #336ee2;
  color: #ffffff;
}

.cb-home-involved-button-dark:hover {
  color: #ffffff;
}

.cb-home-involved-button-light {
  background-color: rgba(255, 255, 255, 0);
  color: #336ee2;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.cb-home-involved-button-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.cb-home-involved-link {
  font-size: 13px;
  font-family: "Inter-Medium";
  color: #336ee2;
}

@media only screen and (max-width: 991px) {
  .cb-home-involved-button-row {
    margin-bottom: 40px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 575px) {
  .cb-home-involved-col {
    margin-top: 40px;
  }
}
