.cb-home-testimonials-container {
  max-width: 840px;
}

.cb-home-testimonials-entry {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  outline: none;
  cursor: grab;
}

.cb-home-testimonials-quote {
  font-family: "Inter-Medium";
  font-size: 14px;
  color: #ffffff;
}

.cb-home-testimonials-author {
  font-family: "Inter-Bold";
}
