@font-face {
  font-family: "Circular Std Book";
  src: url("../fonts/CircularStd-Book.otf") format("opentype");
}

.cb-home-header-title {
  font-size: 38px;
  font-family: "Circular Std Book", sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 20%;
}

.cb-home-header-subtitle {
  font-size: 15px;
  font-family: "Circular Std Book", sans-serif;
  color: #ffffff;
}

.cb-home-header-image {
  width: 100%;
}

.cb-home-header-button {
  font-size: 15px;
  border-radius: 3px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 14px;
  margin-left: 0px;
  margin-bottom: 14px;
  font-family: "Circular Std Book", sans-serif;
}

.cb-home-header-button:hover {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.8;
  transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
}

.cb-home-header-apply {
  background-color: rgba(255, 255, 255, 0.3);
  color: #ffffff;
}

.cb-home-header-about {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0.3);
  border-width: 2px;
  border-style: solid;
  color: #ffffff;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.cb-home-header-button-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.cb-home-header-row {
  padding-top: 5vh;
}

.cb-home-header-bg {
  background-color: #336ee2;
  width: 100%;
  padding-bottom: 15vh;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .cb-home-header-bg {
    padding-bottom: 10vh;
  }

  .cb-home-header-title {
    margin-top: 0%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .cb-home-header-bg {
    padding-bottom: 10vh;
  }

  .cb-home-header-title {
    margin-top: 0%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cb-home-header-bg {
    padding-bottom: 10vh;
  }

  .cb-home-header-title {
    margin-top: 5%;
  }
}

@media only screen and (min-width: 992px) {
  .cb-home-header-bg {
    padding-bottom: 15vh;
  }

  .cb-home-header-title {
    margin-top: 20%;
  }
}
