@font-face {
  font-family: "Circular Std Book";
  src: url("../fonts/CircularStd-Book.otf") format("opentype");
}

@font-face {
  font-family: "Circular Std Bold";
  src: url("../fonts/CircularStd-Bold.otf") format("opentype");
}

.cb-home-testimonials-bg {
  background-color: #36b37e;
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.cb-home-testimonials-container {
  max-width: 840px;
}

.cb-home-testimonials-entry {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  outline: none;
}

.cb-home-testimonials-quote {
  font-size: 18px;
  font-family: "Circular Std Book", sans-serif;
  color: #ffffff;
}

.cb-home-testimonials-author {
  font-family: "Circular Std Bold", sans-serif;
}
