.cb-home-mission-section-header {
  max-width: 750px;
  margin-bottom: 30px;
}

.cb-home-mission-more {
  font-size: 14px;
  font-family: "Inter-Medium";
}

.cb-home-mission-stat {
  min-width: 140px;
  text-align: left;
  margin-bottom: 20px;
}

.cb-home-mission-number {
  font-family: "Inter-SemiBold";
  font-size: 72px;
  color: #336ee2;
}

.cb-home-mission-text {
  font-family: "Inter-Medium";
  font-size: 14px;
  color: #80868b;
  width: 130px;
}

.cb-home-mission-text-long {
  width: 140px;
}

.cb-home-mission-heading-row {
  margin-bottom: 20px;
}

.cb-home-mission-stats-row {
  text-align: center;
  min-width: 140px;
}

@media only screen and (max-width: 479px) {
  .cb-home-mission-stat {
    margin: 0 auto;
    display: block;
  }
}
