@font-face {
  font-family: "Inter-Black";
  src: url("../fonts/Inter-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url("../fonts/Inter-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-ExtraLight";
  src: url("../fonts/Inter-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Light";
  src: url("../fonts/Inter-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Medium";
  src: url("../fonts/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("../fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Thin";
  src: url("../fonts/Inter-Thin.ttf") format("truetype");
}

html,
body,
.cb-contents {
  height: 100vh;
  margin: 0;
}

.cb-contents {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.container {
  max-width: 1000px;
}

.cb-blue-link {
  color: #336ee2;
  text-decoration-line: none;
  cursor: pointer;
}

.cb-blue-link:hover {
  text-decoration-line: none;
  opacity: 0.8;
  transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
}

.cb-card-blue {
  background-color: #336ee2;
}

.cb-card-orange {
  background-color: #f77b6f;
}

.cb-card-navy {
  background-color: #3b5c9d;
}

.cb-card-green {
  background-color: #36b37e;
}
