.cb-past-projects-card {
  background-color: #f6f7f8;
  height: 100%;
}

.cb-past-projects-text {
  color: #80868b;
}

.cb-past-projects-type {
  color: #80868b;
  margin-bottom: 10px;
  margin-top: 10px;
}

.cb-past-projects-card-row {
  margin-top: 40px;
}
