.cb-projects-section-header {
  max-width: 650px;
  margin-bottom: 20px;
}

.cb-projects-col {
  padding-top: 10px;
  padding-bottom: 10px;
}

.cb-projects-card {
  cursor: default;
}

.cb-projects-logo {
  height: 30px;
  margin-bottom: 16px;
}

.cb-projects-card-row {
  margin-top: 20px;
  margin-bottom: 40px;
}
