.cb-projects-section {
  margin: 15px 0 10px;
  padding-bottom: 5px;
}

.cb-projects-section-header {
  max-width: 600px;
}

.cb-projects-section-title {
  margin-top: 10px;
  margin-bottom: 13px;
  color: #2f2f30;
  font-size: 17px;
  line-height: 22px;
}

.cb-projects-section-blurb {
  color: #80868b;
  font-size: 15px;
  line-height: 18px;
}
