@import url("https://db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular + Std + Book");

html {
  font-family: "Circular Std Book", sans-serif;
}

.default-body {
  background-color: #336ee2;
  color: white;
}

.alt-body {
  background-color: white;
  color: #336ee2;
}

#apply-link {
  border-radius: 3px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.default-body #apply-link {
  background-color: #7099eb;
}

.alt-body #apply-link {
  background-color: #d6e2f9;
}
